extends layout

block content
  h1= title
  if author_list.length
    ul
      each author in author_list
        li
          a(href=author.url) #{author.name}
          |  (#{author.birth_date_formatted} - #{author.death_date_formatted})

  else
    p There are no authors.
